[submodule "application/lib/yuelo"]
	path = application/lib/yuelo
	url = git://git.code.sf.net/p/yuelo/code
[submodule "application/lib/yryie"]
	path = application/lib/yryie
	url = git://git.code.sf.net/p/yryie/code
